name: Publicar Documentación
on:
    push:
        branches:
            - main

permissions:
    contents: write

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Configurar Python
              uses: actions/setup-python@v5
              with:
                  python-version: 3.x

            - name: Instalar dependencias
              run: pip install mkdocs-material

            - name: Desplegar documentación
              run: mkdocs gh-deploy --force
